@{
    Layout = "Shared/_Layout.cshtml";
}
    

isabella lewis
<div class="alert alert-error">
    hello
</div>

<img src="http://images6.fanpop.com/image/photos/33200000/Mlp-my-little-pony-friendship-is-magic-33233059-848-822.png"/>
<img src="http://fc08.deviantart.net/fs71/i/2012/199/f/e/my_little_pony_friendship_is_magic_charms_by_torturebunni-d4t1qei.jpg"/>