@{
    Layout = "Shared/_Layout.cshtml";
}
    

<ul class="nav nav-tabs nav-stacked">
    <li><a href="Basics">The Basics - Bindings and Observables</a></li>
    <li><a href="Collections">Collections - Iterating and Updating</a></li>
    <li><a href="Services">Communicating With an API or Backend Service</a></li>
    <li><a href="Templates">Templates</a></li>
    <li><a href="Mapping">Mapping</a></li>
    <li><a href="PubSub">PubSub</a></li>
    <li><a href="UiUx">UiUx</a></li>
    <li><a href="izzy">isabella</a></li>
</ul>