@{
    Layout = "Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        var myCollection = [
            { car: "Ford Mustang", speed: 160 },
            { car: "Chevy Camaro", speed: 220 },
            { car: "Dodge Dart", speed: 140 },
            { car: "Acura Integra", speed: 195 },
            { car: "VW Love Bus", speed: 45 }
        ];

        var vModel = function () {
            var self = this;

            self.cars = ko.observableArray(myCollection);

            self.addCarName = ko.observable();
            self.addCarSpeed = ko.observable();
            self.addNewCar = function () {
                self.cars.push({
                    car: self.addCarName(),
                    speed: self.addCarSpeed()
                });
            };


        };

        ko.applyBindings(new vModel());

    </script>
}

<h2>Collections - Iterating and Updating</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Car</th>
            <th>Speed</th>
            <th class="span1">Remove</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cars">
        <tr>
            <td data-bind="text: $data.car"></td>
            <td data-bind="text: $data.speed"></td>
            <td><i class="icon-remove-circle" style="cursor: pointer"></i></td>
        </tr>
    </tbody>
</table>

<div class="well">
    <fieldset>
        <legend>Add New Car</legend>
            
        <label>Car</label>
        <input data-bind="value: addCarName" type="text"/>
        
        <label>Speed</label>
        <input data-bind="value: addCarSpeed" type="text"/>
        
        <br/>
        <button data-bind="click: addNewCar" class="btn btn-primary">Add Car</button>

    </fieldset>
</div>